//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 22px;

.main-page {
  min-height: 200vh;
  padding-top: 80px;
  background-color: $lightbluebgcolor;
}
