//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 13px;
$mediumfontsize: 16px;
$largefontsize: 22px;
$xlargefontsize: 32px;

.product-page {
  display: block;
  background-color: $colorblack;
}

.product-page .product-page-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-page .product-page-wrap .product-img .product-img-wrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
}

.product-page .product-page-wrap .product-info {
  flex: 1;
  .product-info-wrap {
    display: flex;
    flex-direction: column;
    .product-info-wrap-first-child {
      .product-info-user-name:hover a {
        color: $colorwhite;
      }
      text-align: center;
      padding: 50px 0;
      background-color: $colorblack;
    }
  }

  .product-info-wrap .product-info-heading {
    font-size: $xlargefontsize;
    color: $colorwhite;
  }

  .product-info-wrap .product-review {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover a{
      color: $colorwhite;
    }
    .product-info-review-stars {
      margin-right: 5px;
      span {
        svg {
          margin-bottom: -2px;
        }
      }
    }
  }

  .product-info-wrap .product-page-cart-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .product-page-cart-links-wrap {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: $colorblack;
      border: 1px solid $colorwhite;
      svg {
        fill: $colorwhite;
        height: 22px;
        width: 22px;
      }
    }
    .product-page-cart-links-wrap:hover {
      background-color: $colorwhite;
      svg {
        fill: $colorblack;
      }
    }
  }

  .product-info-wrap .product-page-description {
    background-color: $colorgrey;
    padding: 50px;
    .product-page-description-paragraph {
      font-size: $mediumfontsize;
    }
  }

  //----

  .product-info-wrap {
    .product-info-user-name,
    .product-info-heading {
      margin-bottom: 20px;
    }
  }

  .product-info-wrap {
    .product-info-heading,
    .product-info-user-name {
      margin-bottom: 5px;
    }
  }
}

.product-page .product-page-wrap .product-owner-detail {
  display: flex;
  padding: 50px;
  background-color: $lightbluebgcolor;
  .product-owner-detail-owner-label {
    display: block;
    margin-bottom: 10px;
    font-size: $mediumfontsize;
  }

  .product-owner-detail-wrap {
    padding: 20px;
    background-color: $colorwhite;
    margin-bottom: auto;
    margin-left: 20px;
  }

  .product-owner-detail-wrap .product-ower-detail-img-nd-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 50px;
      border-radius: 100px;
      margin-bottom: auto;
      margin-right: 20px;
    }
    h1 {
      font-size: $mediumfontsize;
      margin-bottom: 5px;
    }
    a {
      font-size: $smallfontsize;
    }
  }
  .product-owner-detail-button-wrap {
    display: flex;
    flex-direction: column;
    width: 320px;
    a {
      font-size: $mediumfontsize;
    }
    .product-owner-detail-button-hire-me {
      margin-bottom: 10px;
    }
  }
}
