.product-page {
  display: block;
  background-color: #010101;
}

.product-page .product-page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product-page .product-page-wrap .product-img .product-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.product-page .product-page-wrap .product-img .product-img-wrap img {
  width: 100%;
}

.product-page .product-page-wrap .product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-page .product-page-wrap .product-info .product-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-wrap-first-child {
  text-align: center;
  padding: 50px 0;
  background-color: #010101;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-wrap-first-child .product-info-user-name:hover a {
  color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-heading {
  font-size: 32px;
  color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review:hover a {
  color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review .product-info-review-stars {
  margin-right: 5px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review .product-info-review-stars span svg {
  margin-bottom: -2px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links .product-page-cart-links-wrap {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background-color: #010101;
  border: 1px solid #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links .product-page-cart-links-wrap svg {
  fill: #ffffff;
  height: 22px;
  width: 22px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links .product-page-cart-links-wrap:hover {
  background-color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links .product-page-cart-links-wrap:hover svg {
  fill: #010101;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-description {
  background-color: #666666;
  padding: 50px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-description .product-page-description-paragraph {
  font-size: 16px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-user-name,
.product-page .product-page-wrap .product-info .product-info-wrap .product-info-heading {
  margin-bottom: 20px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-heading,
.product-page .product-page-wrap .product-info .product-info-wrap .product-info-user-name {
  margin-bottom: 5px;
}

.product-page .product-page-wrap .product-owner-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  background-color: #f9f9f9;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-owner-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: auto;
  margin-left: 20px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading img {
  width: 50px;
  border-radius: 100px;
  margin-bottom: auto;
  margin-right: 20px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading a {
  font-size: 13px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-button-wrap a {
  font-size: 16px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-button-wrap .product-owner-detail-button-hire-me {
  margin-bottom: 10px;
}
/*# sourceMappingURL=product.css.map */