//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$colordarkgrey: #191919;
$lightbluebgcolor: #f9f9f9;
$creamcolor: #f8f0ea;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

.featured-services {
  background-color: $lightbluebgcolor;
  padding-top: 100px;
  padding-bottom: 100px;
}
.featured-services .featured-services-wrap {
  display: flex;
}

.featured-services .featured-services-wrap .featured-services-wrap-first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: $xxxxlargefontsize;
    margin-bottom: 50px;
    line-height: 50px;
  }
  h3 {
    font-size: $xlargefontsize;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
      display: flex;
    }
  }
  .featured-services-wrap-first-child-wrap-paragraph {
    display: flex;
    p {
      margin-right: 20%;
      margin-bottom: 50px;
    }
    // span {
    //   margin-right: 5px;
    //   font-size: $xlargefontsize;
    //   margin-top: 2.5px;
    //   color: $colordarkgrey;
    // }
  }
}

//........

.featured-services
  .featured-services-wrap
  .featured-services-wrap-second-child {
  display: flex;
  height: 60vh;
  width: 50%;
  img {
    transition: all ease 0.3s;
  }
  .featured-services-wrap-second-child-first-child {
    flex: 1;
    display: flex;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
    img:hover {
      scale: 105%;
    }
  }

  .featured-services-wrap-second-child-second-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    .featured-services-wrap-second-child-second-child-first-child,
    .featured-services-wrap-second-child-second-child-second-child {
      flex: 1;
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        cursor: pointer;
      }
      img:hover {
        scale: 105%;
      }
    }

    .featured-services-wrap-second-child-second-child-first-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 900px) {
  .featured-services
    .featured-services-wrap
    .featured-services-wrap-first-child {
    .featured-services-wrap-first-child-wrap-paragraph {
      p {
        margin-right: 0;
      }
    }
  }
  .featured-services-wrap {
    display: flex;
    flex-direction: column;
  }
  .featured-services
    .featured-services-wrap
    .featured-services-wrap-second-child {
    width: 100%;
    margin-top: 50px;
  }
}
