//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

.main-page .banner {
  .banner-heading,
  .banner-text,
  .search-form {
    margin-bottom: 30px;
  }
}

.main-page .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
}

.main-page .banner .banner-container {
  width: 650px;
}

.main-page .banner .banner-heading {
  h1 {
    text-align: center;
    font-size: $xxxxlargefontsize;
  }
}

.main-page .banner .banner-text {
  text-align: center;
  font-size: $mediumfontsize;
}

.main-page .banner .search-form form {
  height: 46px;
  display: flex;
  align-items: center;
}

.main-page .banner .search-form input {
  height: 44px;
  width: 100%;
  padding: 0 20px 0 40px;
  border: 1px solid;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.main-page .banner .search-form a {
  height: 44px;
  display: flex;
  padding: 0;
  align-items: center;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.main-page .banner .search-form a span {
  margin: 0 20px;
  padding: 0;
}

.main-page .banner .popular-tags ul {
  display: flex;
  font-size: $smallfontsize;
}

.main-page .banner .popular-tags ul li a {
  padding: 4px 12px;
  margin-left: 12px;
  border-radius: 100px;
  font-size: $smallfontsize;
}
