//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$colordarkgrey: #191919;
$lightbluebgcolor: #f9f9f9;
$creamcolor: #f8f0ea;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

//img-spacing
$imagesSpacing: 5px;

.product-page {
  display: block;
  background-color: $lightbluebgcolor;
  padding-top: 80px;
  padding-bottom: 50px;
}

.product-page .product-page-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-page-images {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  // background-color: $colorblack;
}

.product-page .product-page-wrap .product-page-images-wrap {
  width: 670px;
  margin: 0 auto;
  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    img {
      width: inherit;
    }
  }
}

.product-page .product-page-wrap .product-page-images-change-bar {
  width: 670px;
  display: flex;
  margin: 20px auto 40px;
  div {
    display: flex;
    width: 100%;
    padding: 7px;
  }

  button {
    padding: 0;
    margin: 0;
    border: 3px solid transparent;
    display: flex;
    background-color: transparent;
    border-radius: 3px;
    width: 100%;
  }
  img {
    width: 100%;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .product-page .product-page-wrap .product-page-images-wrap {
    width: 100%;
  }
  .product-page .product-page-wrap .product-page-images-change-bar {
    width: 100%;
  }
}

//----

.product-page .product-page-wrap .product-info {
  flex: 1;
  .product-info-wrap {
    display: flex;
    flex-direction: column;
    a {
      color: #9e9e9e;
    }
    a:hover {
      color: $colorwhite;
    }
    .product-info-wrap-first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px 0;
      background-color: $colordarkgrey;
      border-radius: 3px;
    }
  }

  .product-info-wrap .product-page-cart-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .product-page-cart-links-wrap {
      letter-spacing: 1.2px;
      border-color: $colorwhite;
      background-color: inherit;
      font-style: italic;
    }
  }

  .product-info-wrap .product-info-heading {
    font-size: $xxlargefontsize;
    color: $colorwhite;
    margin: 0 20px 10px 20px;
    font-weight: normal;
    font-style: italic;
    max-width: 800px;
  }

  .product-info-wrap .product-review {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .product-info-review-stars {
      margin-right: 5px;
      span {
        svg {
          margin-bottom: -2px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .product-info-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

//----

.product-page .product-page-wrap .product-owner-detail {
  display: flex;
  padding-top: 50px;
  background-color: $lightbluebgcolor;
  .product-owner-detail-owner-label {
    display: block;
    margin-bottom: 10px;
    font-size: $smallfontsize;
    letter-spacing: 1px;
  }

  .product-owner-detail-wrap {
    margin-bottom: auto;
    margin-left: 30px;
    width: 360px;
  }

  .product-owner-detail-wrap .product-ower-detail-img-nd-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 50px;
      border-radius: 100px;
      margin-bottom: auto;
      margin-right: 20px;
    }
    h1 {
      font-size: $mediumfontsize;
      margin-bottom: 5px;
    }
    a {
      font-size: $smallfontsize;
    }
  }
  .product-owner-detail-wrap .product-owner-detail-wrap-first-child {
    padding: 30px;
    margin-bottom: 20px;
    background-color: $colorwhite;
  }

  .product-owner-detail-button-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    a {
      font-size: $smallfontsize;
    }
    .product-owner-detail-button-hire-me {
      // font-size: $smallfontsize;
      margin-bottom: 10px;
    }
  }
}

.product-page
  .product-page-wrap
  .product-owner-detail
  .product-owner-detail-wrap-second-child {
  padding: 30px;
  background: $colorwhite;
  h1 {
    font-size: $mediumfontsize;
    margin-bottom: 15px;
  }
  p {
    font-size: $smallfontsize;
    color: $colorgrey;
  }
}

@media (max-width: 1200px) {
  .product-page .product-page-wrap .product-owner-detail {
    flex-direction: column;
    margin: 0;
  }

  .product-page
    .product-page-wrap
    .product-owner-detail
    .product-owner-detail-wrap {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
}
