//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$colordarkgrey: #191919;
$lightbluebgcolor: #f9f9f9;
$creamcolor: #f8f0ea;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

.main-page .banner {
  .banner-heading,
  .banner-text {
    margin-bottom: 30px;
  }
}

.main-page .banner .banner-wrap {
  display: flex;
  width: 100%;
  padding: 120px 0 100px 0;
}

.main-page .banner .banner-wrap .banner-image {
  width: 50%;
  .banner-image-wrap {
    margin-right: 70px;
  }
  img {
    width: 100%;
    border-radius: 2px;
  }
}

.main-page .banner .banner-wrap .banner-wrap-first-child {
  width: 50%;
}
.main-page .banner .banner-wrap-first-child .banner-heading {
  h1 {
    text-align: left;
    font-size: 72px;
  }
}

.main-page .banner .banner-wrap-first-child .banner-text {
  width: 80%;
  font-size: $mediumfontsize;
}

.main-page .banner .banner-wrap-first-child .search-form form {
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: 50px;
  figure {
    margin: 0;
    position: absolute;
    margin-left: 15px;
    margin-bottom: -3px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.main-page .banner .banner-wrap-first-child .search-form input {
  height: inherit;
  width: 100%;
  padding: 0 20px 0 50px;
  border-radius: 3px;
  font-size: $mediumfontsize;
}

@media (max-width: 1000px) {
  .main-page .banner .banner-wrap .banner-image {
    width: 100%;
    .banner-image-wrap {
      margin-right: 0px;
    }
  }
  .main-page .banner .banner-wrap {
    flex-direction: column;
  }
  .main-page .banner .banner-wrap .banner-wrap-first-child {
    width: 100%;
    margin-top: 30px;
  }
}
