//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

.user-profile {
  background-color: $lightbluebgcolor;
  padding-bottom: 50px;
}

.user-profile .user-detail {
  display: flex;
  justify-content: space-between;
}

.user-profile .cover-img {
  overflow: hidden;
  position: relative;
}

.user-profile .cover-img .cover-img-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 30vh;
  img {
    height: 30vh;
  }
}

.user-profile .user-detail .user-detail-wrap {
  display: flex;
  text-align: left;
  flex-direction: column;
  // border-top-right-radius: 300px;
  // border-bottom-right-radius: 300px;
  // background-color: $colorwhite;
}

.user-profile .user-detail .user-detail-wrap .user-detail-wrap-second-child {
  display: flex;
  flex-direction: column;
}

.user-profile .user-detail .user-detail-wrap {
  border-radius: 5px;
  flex: 1;
  position: relative;
  z-index: 3;
  h2 {
    font-size: $xxlargefontsize;
    margin-bottom: 10px;
    text-align: center;
  }
  .user-name {
    margin-bottom: 24px;
    font-size: $xxxlargefontsize;
    text-align: center;
  }
  .user-img {
    height: 116px;
    width: 116px;
    margin: -58px auto 10px auto;
    img {
      flex: 1;
      height: 100px;
      width: 100px;
      border-radius: 100px;
      border: 8px solid $lightbluebgcolor;
    }
  }
  .user-detail-links {
    display: flex;
    justify-content: center;
    a {
      font-size: $mediumfontsize;
      width: 170px;
    }
    .follow-me {
      margin-right: 10px;
    }
  }
  .description {
    text-align: left;
    font-size: $mediumfontsize;
    margin-top: 10px;
    span {
      color: $colorgrey;
    }
  }
}

.user-profile .user-detail {
  .contact-me,
  .description {
    margin-bottom: 10px;
  }
}

//----------------------------------------------------------

.user-profile .user-works {
  padding-top: 50px;
  hr {
    margin-bottom: 30px;
  }
}

.user-profile .user-works .user-works-heading {
  h1 {
    font-size: $xlargefontsize;
    color: $colorblack;
    text-align: left;
    span {
      color: $colorgrey;
      margin-left: 10px;
      font-size: $largefontsize;
    }
  }
}

.user-profile .user-works .user-project-wrap {
  display: grid;
  margin-right: -30px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
}

.user-profile .user-works .user-project-wrap .user-project {
  background-color: white;
  flex-direction: column;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 5px;
  .user-project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30vh;
    width: 100%;
    div {
      margin-bottom: 0;
      padding-top: 20px;
      position: relative;
      z-index: 100;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.6) 81%
      );
      display: none;
      :nth-child(1) {
        margin-bottom: 3px;
        a {
          font-weight: bold;
          color: $colorwhite;
          font-size: $mediumfontsize;
        }
      }
      :nth-child(2) {
        margin-bottom: 13px;
        a {
          color: $colorwhite;
          font-size: $smallfontsize;
        }
      }
      p {
        margin-left: 10px;
      }
    }
  }

  &:hover {
    .user-project-info div {
      display: block;
    }
  }

  .user-project-image-wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin-bottom: -30vh;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  h1 {
    font-size: $mediumfontsize;
  }
}

.user-profile .user-works .user-works-heading,
.user-profile .user-works .user-project-wrap .user-project {
  margin-bottom: 30px;
}
