.user-profile {
  background-color: #f9f9f9;
}

.user-profile .user-profile-wrap {
  margin-top: -186px;
}

.user-profile .user-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-profile .cover-img .cover-img-container {
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.user-profile .user-detail .user-detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  background-color: #ffffff;
}

.user-profile .user-detail .user-detail-wrap .user-detail-wrap-second-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
  padding-right: 0px;
}

.user-profile .user-detail .user-detail-wrap .user-detail-wrap-second-child .user-detail-wrap-second-child-first-child {
  margin-right: 30px;
}

.user-profile .user-detail .user-detail-wrap .user-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 210px;
  width: 210px;
  padding: 30px;
}

.user-profile .user-detail .user-detail-wrap .user-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 300px;
}

.user-profile .user-detail .user-detail-wrap .user-name {
  font-size: 20px;
}

.user-profile .user-detail .user-detail-wrap .title li {
  font-size: 16px;
}

.user-profile .user-detail .user-detail-wrap .user-detail-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
}

.user-profile .user-detail .user-detail-wrap .user-detail-links a {
  font-size: 16px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.user-profile .user-detail .user-detail-wrap .user-detail-links .follow-me {
  margin-right: 10px;
}

.user-profile .user-detail .user-detail-wrap .description {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.user-profile .user-detail .user-detail-wrap .description span {
  color: #666666;
}

.user-profile .user-detail .user-name,
.user-profile .user-detail .title,
.user-profile .user-detail .location,
.user-profile .user-detail .contact-me,
.user-profile .user-detail .description {
  margin-bottom: 10px;
}

.user-profile .user-detail .location {
  margin-bottom: 20px;
}

.user-profile .user-detail .user-social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile .user-detail .user-social-media-links ul .facebook-link,
.user-profile .user-detail .user-social-media-links ul .instagram-link {
  margin-bottom: 12px;
}

.user-profile .user-detail .user-social-media-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  border-radius: 30px;
}

.user-profile .user-detail .user-social-media-links ul li a svg {
  height: 20px;
  width: 20px;
}

.user-profile .user-works .user-works-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.user-profile .user-works .user-works-heading h1 {
  font-size: 20px;
  color: #010101;
  position: relative;
  margin-left: auto;
  padding: 8px 12px;
  border-radius: 30px;
}

.user-profile .user-works .user-project-wrap {
  display: -ms-grid;
  display: grid;
  margin-right: -20px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.user-profile .user-works .user-project-wrap .user-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.user-profile .user-works .user-project-wrap .user-project img {
  width: 100%;
}

.user-profile .user-works .user-project-wrap .user-project h1 {
  font-size: 16px;
}

.user-profile .user-works .user-project-wrap .user-project .user-project-detail {
  padding: 20px;
}

.user-profile .user-works .user-project-wrap .user-project .user-project-detail .user-project-heading,
.user-profile .user-works .user-project-wrap .user-project .user-project-detail .user-project-title {
  margin-bottom: 5px;
  font-size: 14px;
}

.user-profile .user-works .user-project-wrap .user-project .user-project-detail .user-project-heading {
  font-size: 16px;
}

.user-profile .user-works .user-project-wrap .user-project .user-project-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.user-profile .user-works .user-works-heading,
.user-profile .user-works .user-project-wrap .user-project {
  margin-bottom: 20px;
}
/*# sourceMappingURL=userprofile.css.map */