.user-profile {
  background-color: #f9f9f9;
}

.user-profile .user-profile-wrap {
  padding-top: 130px;
}

.user-profile .user-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-profile .cover-img .cover-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.user-profile .user-detail .user-detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile .user-detail .user-detail-wrap .user-detail-wrap-second-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile .user-detail .user-detail-wrap {
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.user-profile .user-detail .user-detail-wrap h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.user-profile .user-detail .user-detail-wrap .user-name {
  font-size: 56px;
  margin-bottom: 24px;
}

.user-profile .user-detail .user-detail-wrap .user-img {
  margin-bottom: 24px;
}

.user-profile .user-detail .user-detail-wrap .user-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80px;
  width: 80px;
  border-radius: 100px;
}

.user-profile .user-detail .user-detail-wrap .user-detail-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile .user-detail .user-detail-wrap .user-detail-links a {
  font-size: 16px;
}

.user-profile .user-detail .user-detail-wrap .user-detail-links .follow-me {
  margin-right: 10px;
}

.user-profile .user-detail .user-detail-wrap .description {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.user-profile .user-detail .user-detail-wrap .description span {
  color: #666666;
}

.user-profile .user-detail .contact-me,
.user-profile .user-detail .description {
  margin-bottom: 10px;
}

.user-profile .user-detail .user-social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
  margin-top: 5px;
}

.user-profile .user-detail .user-social-media-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile .user-detail .user-social-media-links ul .facebook-link,
.user-profile .user-detail .user-social-media-links ul .instagram-link {
  margin-bottom: 15px;
}

.user-profile .user-detail .user-social-media-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  background-color: transparent;
}

.user-profile .user-detail .user-social-media-links ul li a svg {
  height: 20px;
  width: 20px;
}

.user-profile .user-works {
  padding-top: 50px;
}

.user-profile .user-works hr {
  margin-bottom: 30px;
}

.user-profile .user-works .user-works-heading h1 {
  font-size: 20px;
  color: #010101;
  text-align: left;
}

.user-profile .user-works .user-works-heading h1 span {
  color: #666666;
  margin-left: 10px;
  font-size: 18px;
}

.user-profile .user-works .user-project-wrap {
  display: -ms-grid;
  display: grid;
  margin-right: -30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.user-profile .user-works .user-project-wrap .user-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile .user-works .user-project-wrap .user-project .user-project-image-wrap {
  overflow: hidden;
}

.user-profile .user-works .user-project-wrap .user-project .user-project-image-wrap img {
  width: 100%;
  margin-top: -10%;
  margin-bottom: -10%;
}

.user-profile .user-works .user-project-wrap .user-project h1 {
  font-size: 16px;
}

.user-profile .user-works .user-works-heading,
.user-profile .user-works .user-project-wrap .user-project {
  margin-bottom: 30px;
}
/*# sourceMappingURL=userprofile.css.map */