//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

.user-profile {
  background-color: $lightbluebgcolor;
  .user-profile-wrap {
    padding-top: 130px;
  }
}

.user-profile .user-detail {
  display: flex;
  justify-content: space-between;
}

.user-profile .cover-img .cover-img-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.user-profile .user-detail .user-detail-wrap {
  display: flex;
  text-align: left;
  flex-direction: column;
  // border-top-right-radius: 300px;
  // border-bottom-right-radius: 300px;
  // background-color: $colorwhite;
}

.user-profile .user-detail .user-detail-wrap .user-detail-wrap-second-child {
  display: flex;
  flex-direction: column;
}

.user-profile .user-detail .user-detail-wrap {
  border-radius: 5px;
  flex: 1;
  h2 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .user-name {
    font-size: 56px;
    margin-bottom: 24px;
  }
  .user-img {
    margin-bottom: 24px;
    img {
      flex: 1;
      height: 80px;
      width: 80px;
      border-radius: 100px;
    }
  }
  .user-detail-links {
    display: flex;
    a {
      font-size: $mediumfontsize;
    }
    .follow-me {
      margin-right: 10px;
    }
  }
  .description {
    text-align: left;
    font-size: $mediumfontsize;
    margin-top: 10px;
    span {
      color: $colorgrey;
    }
  }
}

.user-profile .user-detail {
  .contact-me,
  .description {
    margin-bottom: 10px;
  }
}

.user-profile .user-detail .user-social-media-links {
  display: flex;
  margin-bottom: auto;
  margin-top: 5px;
  ul {
    display: flex;
    flex-direction: row;
    .facebook-link,
    .instagram-link {
      margin-right: 15px;
    }
  }
  ul li a svg {
    height: 20px;
    width: 20px;
  }
}

//----------------------------------------------------------

.user-profile .user-works {
  padding-top: 50px;
  hr {
    margin-bottom: 30px;
  }
}

.user-profile .user-works .user-works-heading {
  h1 {
    font-size: $xlargefontsize;
    color: $colorblack;
    text-align: left;
    span {
      color: $colorgrey;
      margin-left: 10px;
      font-size: $largefontsize;
    }
  }
}

.user-profile .user-works .user-project-wrap {
  display: grid;
  margin-right: -30px;
  grid-template-columns: repeat(4, 1fr);
}

.user-profile .user-works .user-project-wrap .user-project {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  .user-project-image-wrap {
    overflow: hidden;
    img {
      width: 100%;
      margin-top: -10%;
      margin-bottom: -10%;
    }
  }
  h1 {
    font-size: $mediumfontsize;
  }
  // .user-project-detail {
  //   padding: 15px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   background-color: $colorwhite;
  //   .user-project-heading,
  //   p {
  //     margin-bottom: 5px;
  //     font-size: $smallfontsize;
  //   }
  //   .user-project-heading {
  //     font-size: $mediumfontsize;
  //   }
  // }
  // .user-project-pricing {
  //   display: flex;
  //   justify-content: space-between;
  //   font-size: $smallfontsize;
  // }
}

.user-profile .user-works .user-works-heading,
.user-profile .user-works .user-project-wrap .user-project {
  margin-bottom: 30px;
}
