.product-page {
  display: block;
  padding-top: 130px;
  background-color: #f9f9f9;
}

.product-page .product-page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product-page-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .product-page-wrap .product-page-images-wrap {
  width: 100%;
  height: 700px;
}

.product-page .product-page-wrap .product-page-images-wrap div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-page .product-page-wrap .product-page-images-wrap div img {
  height: inherit;
  position: absolute;
}

.product-page .product-page-wrap .product-page-images-change-bar {
  width: 700px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto 50px;
}

.product-page .product-page-wrap .product-page-images-change-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
}

.product-page .product-page-wrap .product-page-images-change-bar button {
  border: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  width: 100%;
}

.product-page .product-page-wrap .product-page-images-change-bar img {
  width: 100%;
  cursor: pointer;
}

.product-page .product-page-wrap .product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-page .product-page-wrap .product-info .product-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-wrap-first-child {
  text-align: center;
  padding: 50px 0;
  background-color: #010101;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-wrap-first-child .product-info-user-name a {
  color: #666666;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-wrap-first-child .product-info-user-name a:hover {
  color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-info-heading {
  font-size: 24px;
  color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review a {
  color: #666666;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review a:hover {
  color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review .product-info-review-stars {
  margin-right: 5px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-review .product-info-review-stars span svg {
  margin-bottom: -2px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-cart-links .product-page-cart-links-wrap {
  border-color: #ffffff;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-description {
  background-color: #f8f0ea;
  padding: 50px;
}

.product-page .product-page-wrap .product-info .product-info-wrap .product-page-description .product-page-description-paragraph {
  font-size: 16px;
  text-align: center;
  color: #010101;
}

.product-page .product-page-wrap .suggested-project {
  padding: 50px;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 0;
}

.product-page .product-page-wrap .suggested-project .suggested-project-wrap {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product-page .product-page-wrap .suggested-project .suggested-project-wrap::-webkit-scrollbar {
  display: none;
}

.product-page .product-page-wrap .suggested-project .suggested-project-wrap a {
  display: block;
}

.product-page .product-page-wrap .suggested-project .suggested-project-wrap img {
  margin-top: -12%;
  margin-bottom: -12%;
  width: 100%;
}

.product-page .product-page-wrap .suggested-project .suggested-project-wrap .suggested-project-img-wrap {
  display: inline-block;
  width: calc(33.3% - 6.36px);
  overflow: hidden;
  margin-right: 10px;
  border-radius: 3px;
  vertical-align: bottom;
}

.product-page .product-page-wrap .suggested-project .suggested-project-wrap :last-child {
  margin-right: 0;
}

.product-page .product-page-wrap .suggested-project .suggested-project-scroll-icons-1 button,
.product-page .product-page-wrap .suggested-project .suggested-project-scroll-icons-2 button {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  margin-top: -20px;
  margin-left: -20px;
  border: 0;
  z-index: 3;
}

.product-page .product-page-wrap .suggested-project .suggested-project-scroll-icons-1 button svg,
.product-page .product-page-wrap .suggested-project .suggested-project-scroll-icons-2 button svg {
  height: 25px;
  width: 25px;
}

.product-info-wrap .product-info-user-name,
.product-info-wrap .product-info-heading {
  margin-bottom: 20px;
}

.product-info-wrap .product-info-heading,
.product-info-wrap .product-info-user-name {
  margin-bottom: 5px;
}

.product-page .product-page-wrap .product-owner-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 50px;
  padding-bottom: 0;
  background-color: #f9f9f9;
  margin-bottom: 50px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-owner-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap {
  margin-bottom: auto;
  margin-left: 20px;
  width: 360px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading img {
  width: 50px;
  border-radius: 100px;
  margin-bottom: auto;
  margin-right: 20px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-ower-detail-img-nd-heading a {
  font-size: 14px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-wrap .product-owner-detail-wrap-first-child {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-button-wrap a {
  font-size: 16px;
}

.product-page .product-page-wrap .product-owner-detail .product-owner-detail-button-wrap .product-owner-detail-button-hire-me {
  margin-bottom: 10px;
}

.product-page
.product-page-wrap
.product-owner-detail
.product-owner-detail-wrap-second-child {
  padding: 30px;
  background: #ffffff;
}

.product-page
.product-page-wrap
.product-owner-detail
.product-owner-detail-wrap-second-child h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-page
.product-page-wrap
.product-owner-detail
.product-owner-detail-wrap-second-child p {
  font-size: 14px;
  color: #666666;
}
/*# sourceMappingURL=product.css.map */