//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

//img-spacing
$imgSpacing: 5px;

.product-page {
  display: block;
  background-color: rgb(22, 22, 22);
}

.product-page .product-page-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-page .product-page-wrap .product-img .product-img-wrap {
  display: flex;
  flex-direction: column;
  //--
  img {
    width: 100%;
  }
  .product-img-wrap-first-child {
    display: flex;
    flex: 1;
    margin-bottom: $imgSpacing;
    .product-img-wrap-first-child-first-child {
      flex: 2;
      display: flex;
      margin-right: $imgSpacing;
    }
    .product-img-wrap-first-child-second-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      .product-img-wrap-first-child-second-child-first-child {
        margin-bottom: $imgSpacing;
      }
    }
  }
  .product-img-wrap-second-child {
    display: flex;
    flex: 1;
    .product-img-wrap-second-child-first-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: $imgSpacing;
      .product-img-wrap-second-child-first-child-first-child {
        margin-bottom: $imgSpacing;
      }
    }
    .product-img-wrap-second-child-second-child {
      flex: 2;
      display: flex;
    }
  }
}

.product-page .product-page-wrap .product-info {
  flex: 1;
  .product-info-wrap {
    display: flex;
    flex-direction: column;
    .product-info-wrap-first-child {
      .product-info-user-name:hover a {
        color: $colorwhite;
      }
      text-align: center;
      padding: 50px 0;
      background-color: $colorblack;
    }
  }

  .product-info-wrap .product-info-heading {
    font-size: $xxlargefontsize;
    color: $colorwhite;
  }

  .product-info-wrap .product-review {
    display: flex;
    align-items: center;
    justify-content: center;
    a:hover {
      color: $colorwhite;
    }
    .product-info-review-stars {
      margin-right: 5px;
      span {
        svg {
          margin-bottom: -2px;
        }
      }
    }
  }

  .product-info-wrap .product-page-cart-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .product-page-cart-links-wrap {
      border-color: $colorwhite;
    }
  }

  .product-info-wrap .product-page-description {
    background-color: $colorgrey;
    padding: 50px;
    .product-page-description-paragraph {
      font-size: $mediumfontsize;
      text-align: center;
      color: $colorwhite;
    }
  }

  //----

  .product-info-wrap {
    .product-info-user-name,
    .product-info-heading {
      margin-bottom: 20px;
    }
  }

  .product-info-wrap {
    .product-info-heading,
    .product-info-user-name {
      margin-bottom: 5px;
    }
  }
}

.product-page .product-page-wrap .product-owner-detail {
  display: flex;
  padding: 50px;
  background-color: $lightbluebgcolor;
  .product-owner-detail-owner-label {
    display: block;
    margin-bottom: 10px;
    font-size: $smallfontsize;
    letter-spacing: 1px;
  }

  .product-owner-detail-wrap {
    margin-bottom: auto;
    margin-left: 20px;
    width: 360px;
  }

  .product-owner-detail-wrap .product-ower-detail-img-nd-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 50px;
      border-radius: 100px;
      margin-bottom: auto;
      margin-right: 20px;
    }
    h1 {
      font-size: $mediumfontsize;
      margin-bottom: 5px;
    }
    a {
      font-size: $smallfontsize;
    }
  }
  .product-owner-detail-wrap .product-owner-detail-wrap-first-child {
    padding: 30px;
    margin-bottom: 20px;
    background-color: $colorwhite;
  }

  .product-owner-detail-button-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    a {
      font-size: $mediumfontsize;
    }
    .product-owner-detail-button-hire-me {
      margin-bottom: 10px;
    }
  }
}

.product-page
  .product-page-wrap
  .product-owner-detail
  .product-owner-detail-wrap-second-child {
  padding: 30px;
  background: $colorwhite;
  h1 {
    font-size: $mediumfontsize;
    margin-bottom: 20px;
  }
  p {
    font-size: $smallfontsize;
    color: $colorgrey;
  }
}
