//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 13px;
$mediumfontsize: 16px;
$largefontsize: 22px;

.user-profile {
  background-color: $lightbluebgcolor;
  .cover-img {
    margin-bottom: -266px;
    .cover-img-container {
      height: 266px;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  }
}

.user-profile .user-detail {
  display: flex;
  margin-top: 130px;
}

.user-profile .user-detail .user-info {
  $colorgrey: #6666;
  box-shadow: 0 1px 3px $colorgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  background-color: $colorwhite;
  padding: 30px;
  img {
    width: 110px;
    border-radius: 100%;
  }
  .user-name {
    font-size: $largefontsize;
  }
  .title {
    li {
      font-size: $mediumfontsize;
    }
  }
  .contact-me {
    width: 100%;
    li a {
      font-size: $mediumfontsize;
      display: block;
      padding: 8px 0;
    }
  }
  .description {
    text-align: left;
    font-size: $mediumfontsize;
    margin-top: 10px;
    span {
      color: $colorgrey;
    }
  }
}

.user-profile .user-detail .user-info {
  img,
  .user-name,
  .title,
  .location,
  .contact-me,
  .description {
    margin-bottom: 15px;
  }
}

//

.user-works {
  margin-top: 186px;
  margin-left: 50px;
}

.user-works .user-works-container .user-works-heading{
  font-size: $largefontsize;
}
