//color
$colorblack: #010101;
$colorgrey: #666666;
$colorwhite: #ffffff;
$lightbluebgcolor: #f9f9f9;

//font-size
$smallfontsize: 14px;
$mediumfontsize: 16px;
$largefontsize: 18px;
$xlargefontsize: 20px;
$xxlargefontsize: 24px;
$xxxlargefontsize: 30px;
$xxxxlargefontsize: 36px;

.header {
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: $colorwhite;
  z-index: 300;
}

.header .navbar {
  height: 80px;
  // background-color: $colorwhite;
  font-size: $mediumfontsize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.header .nav-link-left ul {
  display: flex;
}
.header .nav-link-left ul .navbar-logo {
  margin-right: 12px;
  padding: 0 10px;
}
.header .nav-link-left ul li {
  padding: 0 10px;
}
.header .nav-link-right ul {
  display: flex;
}
.header .nav-link-right ul li {
  padding: 0 10px;
}
// .App-header .nav-link-right ul li .nav-join-now {
//   padding: 8px 12px;
// }

