.page {
  max-width: 2186px;
  margin: 0 auto;
  padding: 0 100px;
}


@media (max-width: 1200px) {
  .page {
    padding: 0 50px;
  }
}

@media (max-width: 750px) {
  .page {
    padding: 0 20px;
  }
}

.h1,
.p {
  margin: 0;
  padding: 0;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.a {
  color: #010101;
  cursor: pointer;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

.image-ani img {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.image-ani:hover img {
  scale: 105%;
}

.border {
  border: 1px solid #e8e8e8;
}

.border-grey-2px {
  border: 2px solid #666666;
}

.border-black {
  border: 1px solid #191919;
}

.border-black-2px {
  border: 2px solid #010101;
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.border-top {
  border-top: 1px solid #e8e8e8;
}

.hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #e8e8e8;
}

.button-styling {
  color: #ffffff;
  text-align: center;
  border: 1px solid #010101;
  border-radius: 5px;
  background-color: #010101;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.button-styling-2 {
  color: #010101;
  text-align: center;
  border: 1px solid #010101;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.line-height-24px {
  line-height: 24px;
}